.header {
    background-color: rgb(0, 15, 230);
    text-align: center;
    color: white;
    height: 120px;
}
.header h1{
    font-size: 70px;
}
.content {
    background-color: rgba(239, 198, 255, 0.404);
    text-align: left;
    color: black;
}
.content .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}
.footer {
    background-color: rgb(0, 15, 230);
    font-size: 30px;
    text-align: center;
    position: sticky;
    bottom: 0px;

}
.footer a{
    color: white;
    padding-left: 30px;
}


